Repository jasencdev/recipe_recommender: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build time
  .dockerignore
  .github/workflows/main.yml
  Dockerfile
  Makefile
  README.md
  railway.json
Due: none

fixed type in main.yml
  .github/workflows/main.yml
Due: none

esbuild version issue
  food-recipe-recommender/app/frontend/package.json
Due: backend, frontend

switching actions to uv
  .github/workflows/main.yml
Due: none

switching actions to uv
  .github/workflows/ci.yml
  Dockerfile
Due: none

switching actions to uv direct download
  .github/workflows/ci.yml
  .github/workflows/main.yml
Due: none

fixed local build process...
  .github/workflows/main.yml
  Dockerfile
  food-recipe-recommender/app/frontend/src/js/components/__tests__/authContext.test.tsx
  food-recipe-recommender/app/frontend/src/js/components/__tests__/protectedRouter.test.tsx
  food-recipe-recommender/app/frontend/src/js/components/__tests__/saveButton.test.tsx
  food-recipe-recommender/app/frontend/src/js/components/button.tsx
  food-recipe-recommender/app/frontend/src/js/components/sidebar.tsx
  food-recipe-recommender/app/frontend/src/js/pages/__tests__/login_forgot.test.tsx
  food-recipe-recommender/app/frontend/src/js/pages/search.tsx
  food-recipe-recommender/app/frontend/src/js/services/api.ts
  food-recipe-recommender/app/frontend/src/js/services/ingredients.ts
  food-recipe-recommender/app/frontend/src/js/utils/logger.ts
  food-recipe-recommender/app/frontend/tsconfig.app.json
  food-recipe-recommender/app/frontend/vite.config.ts
  food-recipe-recommender/app/frontend/vitest.config.ts
Due: backend, frontend

still figuring out uv a bit
  .github/workflows/main.yml
  Dockerfile
Due: none

still working with uv - its so fast!
  Dockerfile
Due: none

still working with uv - its so fast!
  .github/workflows/main.yml
  Dockerfile
Due: none

forgot uv run in front of calling gunicorn
  Dockerfile
Due: none

bad port
  Dockerfile
Due: none

needed to fix the app
  food-recipe-recommender/app/app.py
Due: backend

runs on my computer
  Dockerfile
  food-recipe-recommender/app/app.py
Due: backend

no really though
  food-recipe-recommender/app/app.py
  food-recipe-recommender/app/frontend/src/js/pages/collections.tsx
  food-recipe-recommender/app/frontend/src/js/pages/recipe-detail.tsx
  food-recipe-recommender/app/frontend/src/js/pages/recommendations.tsx
  food-recipe-recommender/app/frontend/src/js/pages/saved-recipes.tsx
  food-recipe-recommender/app/frontend/src/js/pages/search.tsx
Due: backend, frontend

dropped to 1 gunicorn worker to check memory
  Dockerfile
Due: none

moving to waitress
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

typo
  Dockerfile
Due: none

Refactor Streamlit app into modular Flask interface
  food-recipe-recommender/app.py
  food-recipe-recommender/app/__init__.py
  food-recipe-recommender/app/config.py
  food-recipe-recommender/app/routes.py
  food-recipe-recommender/app/services/__init__.py
  food-recipe-recommender/app/services/model_service.py
  food-recipe-recommender/app/services/recommendation_service.py
  food-recipe-recommender/app/templates/base.html
  food-recipe-recommender/app/templates/index.html
  food-recipe-recommender/src/recommender.py
  requirements.txt
Due: backend

Update food-recipe-recommender/app/config.py
  food-recipe-recommender/app/config.py
Due: backend

fixed email send
  README.md
  food-recipe-recommender/app/.coverage
  food-recipe-recommender/app/__init__.py
  food-recipe-recommender/app/blueprints/admin.py
  food-recipe-recommender/app/blueprints/auth.py
Due: backend

chore(ci): ignore coverage artifacts and remove tracked coverage files
  .coverage
  .gitignore
  food-recipe-recommender/app/.coverage
Due: backend

docs: add Deploying section and operations guide (Resend, rate limits, admin)
  README.md
  docs/OPERATIONS.md
Due: none

refactor(app): migrate monolith to blueprint factory; add admin endpoints; fix email/resend config, case-insensitive emails, saved recipe validation; switch Docker to factory
  Dockerfile
  food-recipe-recommender/app/__init__.py
  food-recipe-recommender/app/app.py
  food-recipe-recommender/app/blueprints/admin.py
  food-recipe-recommender/app/blueprints/auth.py
  food-recipe-recommender/app/blueprints/recipes.py
  food-recipe-recommender/app/blueprints/saved.py
Due: backend

fix(docker/docs): use Waitress factory mode with --call 'app:create_app' (avoid invalid format error)
  Dockerfile
  README.md
  docs/OPERATIONS.md
Due: none

fix(runtime): expose create_app in app shim for factory-mode servers (Waitress --call, Flask --app)
  food-recipe-recommender/app/app.py
Due: backend

feat(model): allow MODEL_PATH env override and add startup logs for recommender loading
  food-recipe-recommender/app/__init__.py
Due: backend

docs/docker: set MODEL_PATH env; document model inclusion under food-recipe-recommender/models and runtime mount option
  Dockerfile
  README.md
  docs/OPERATIONS.md
Due: none

fix(model): add data-pipeline to sys.path before joblib.load to resolve 'modules' imports
  food-recipe-recommender/app/__init__.py
Due: backend

feat(db): support persistent SQLite via SQLITE_DIR (e.g., Railway /data) and warn if ephemeral; document persistence options
  README.md
  docs/OPERATIONS.md
  food-recipe-recommender/app/__init__.py
Due: backend

the rest of everything
  food-recipe-recommender/app/app.py
  food-recipe-recommender/app/blueprints/recipes.py
  food-recipe-recommender/app/blueprints/saved.py
  food-recipe-recommender/app/frontend/AGENTS.md
  food-recipe-recommender/app/frontend/vite.config.ts
Due: backend, frontend

actually the rest of everything
  .github/workflows/ci.yml
  .github/workflows/main.yml
  CLAUDE.md
  Makefile
  tests/test_integration_live.py
  uv.lock
Due: none

adding psycopg2 to dependences
  pyproject.toml
  uv.lock
Due: none

adding psycopg2 to dependences, and the binary...
  pyproject.toml
  uv.lock
Due: none

and removed the source package for psycopg2
  pyproject.toml
  uv.lock
Due: none

fix(db): increase User.password_hash to 255 and auto-migrate column length on Postgres at startup
  food-recipe-recommender/app/__init__.py
  food-recipe-recommender/app/models.py
Due: backend

Path conditions:
  backend: any of: food-recipe-recommender/app/
  frontend: any of: food-recipe-recommender/app/frontend/
